*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(/imgs/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Header Styled (SearchField) */

header{
    background-color: white;
    width: 40%;
    min-width: 300px;
    height: 50px;
    margin: 30px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    position: relative;
}
header input, header .fas{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 header input{
    width: 70%;
    outline: none;
    border: none;
    border-radius: 25px;
}
header .fas{
    margin: 0 15px;
    font-size: 20px;
} 
header .fa-microphone{
    position: absolute;
    right: 10px;
}

/* Main Styled(WeatherWindow) */

main{
    width: 80%;
    height: auto;
    /* background-color: black; */
    margin: 130px auto 50px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.weather-div{
    width: 200px;
    height: 300px;
    margin: 0 20px;
    /* background-color: white; */
    border: 1px solid white;
    border-radius: 10px;
}